nav {
  background-color: gray;
}

menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #000;
  background: white;
}

li > hr {
  width: 90%;
  margin: 0 auto 0;
  opacity: 100%
}

menu :last-child hr{
  visibility: hidden;
}

section {
  margin: 0px 0px 4px 0px;
  border: 1px solid #000;
  border-collapse: collapse;

  padding: 0;
  box-sizing: border-box;

  background: gray;

  position: relative;
}

section > h1 {
  border: 1px solid #000;
  margin: -1px -1px 0px 0px;
  width: 35%;

  background-color:  pink;
  box-sizing: border-box;

  font-size: 1.3em;

  position: absolute;
  top: 0px;
  right: 0px;

}

section > hr {
  visibility: hidden;
}

